<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

| header | header | header |
|------|------|------|
| cell | cell | cell |
| cell | cell | cell |
| cell | cell | cell |
| cell | cell | cell |

In [1]:
# Cell 1 (rendered as Markdown): The title should be "My Jupyter Notebook on IBM Watson Studio", 
# in H1 header styling. The title does not need to be centered.

# My Jupyter Notebook on IBM Watson Studio

In [2]:
# Cell 2 (rendered as Markdown): Include your name, in bold characters. 
# In the line below your name, write your current or desired occupation in regular font.

**Gabriele Saporito**


Desired occupation: Data scientist in Football Performance Analytics

In [4]:
# Cell 3 (rendered as Markdown): In italic formatting, write one or two sentences about why you are interested in data science. 
# For example, you can start your first sentence with "I am interested in data science because ...".

_I am interested in data science for Football Performance Analytics because it is undertaken to optimize performance, support the coaching process, improve player performance and help deliver tactical insights to help win football matches._

In [ ]:
# Cell 4 (rendered as Markdown): In H3 header styling, explain in a short sentence what your code is supposed to do in Cell 5.

### The following code shows a sum of numbers

In [ ]:
# Cell 5 (code cell): Your code, as described in Cell 4. It must be executed and must display an output. 
# Try to keep the code simple (it can even be "1 + 1").

In [8]:
a=5
b=6
x=a+b
print('Sum : a + b = ', x)

Sum : a + b =  11

In [3]:
# Cell 6 (rendered as Markdown): Using Markdown or HTML, this cell must include at least 3 of the following: 
# horizontal rule, bulleted list, numbered list, tables, hyperlinks, images, code/syntax highlighting, blocked quotes, strikethrough.

### Numbered List
1. First row
2. Second row
3. Third row

In [11]:
# Following code shows image : <img src=https://www.scisports.com/wp-content/uploads/2020/08/Performance-Analysis-visual-b-render-e1601569724213-1280x817.png>

<img src=https://www.scisports.com/wp-content/uploads/2020/08/Performance-Analysis-visual-b-render-e1601569724213-1280x817.png>

In [16]:
import pandas as pd

df = pd.DataFrame([
    [20, 30, 11, 'String1'],
    [21, 31, 24, 'String2'],
    [22, 32, 6, 'String2'],
], columns=['Col 1', 'Col 2', 'Col 3', 'Col 4'])

In [17]:
df.head()

   Col 1  Col 2  Col 3    Col 4
0     20     30     11  String1
1     21     31     24  String2
2     22     32      6  String2